$yellow: #ffde59;
$blue: #00d2ff;
$gray: #3e484a;
$std-input-placeholder-gray: rgb(163, 163, 163);
$white: #ffffff;

$std-font-size: 16px;
$std-border-width: 1px;
$std-border-radius: 3px;
$std-margin-and-padding: 5px;
$std-font-family: 'Montserrat';
$std-button-height-and-width: 30px;
$std-chcekbox-height-and-width: 16px;